#form1{
	width:400px;
	border:2px;
	color: #000;
	background-color: #A8A8A8;
	padding: 20px;
	margin:30px auto;
	text-align: left;
	font-weight: bolder;
}
.label{
	width:150px;
	display:inline-block;
	text-align: left;
	margin:5px 15px 0px 0px;
	
	vertical-align: top;
}
.centro{
	text-align: center;
	margin-top: 20px;
}
h1 {
	text-align: left;
}
section{
	text-align: left;
	display: inline-block;	
}
div {
	margin-top: 15px;
}


